<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="6" android:versionName="0.0.5t" package="com.mtsparked" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="MtSparked">
		<meta-data android:name="io.fabric.ApiKey" android:value="bed8ce42-e0d3-4b5f-bd11-10645f9c3e7f" />
	</application>
</manifest>